
@{
    ViewBag.Title = "NurseView";
}

@section scripts
{
    <script src="~/Scripts/Episode/v6/Module.js"></script>
    <script src="~/Scripts/Episode/v6/Service.js"></script>
    <script src="~/Scripts/Episode/v6/Controller.js"></script>
}
<link href="~/Scripts/css/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/metisMenu.min.js"></script>
<script src="~/Scripts/js/sb-admin-2.js"></script>
<script src="~/Scripts/js/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/js/dataTables.responsive.js"></script>
<script src="~/Scripts/Angular/angular.js"></script>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/jquery.easing.1.3.js"></script>
<script src="~/Scripts/jquery.booklet.latest.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-1.3.3.min.js"></script>

<link rel="stylesheet" href="~/Scripts/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Scripts/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Scripts/css/animate.min.css">
<link rel="stylesheet" href="~/Scripts/css/et-line-font.css">
<link rel="stylesheet" href="~/Scripts/css/nivo-lightbox.css">
@*<link rel="stylesheet" href="~/Scripts/css/nivo_themes/default/default.css">*@
<link rel="stylesheet" href="~/Scripts/css/style.css">

<link rel="stylesheet" href="~/Scripts/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Scripts/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Scripts/css/buttons.bootstrap4.min.css">
@*<script src="~/Scripts/js/bootstrap.min.js"></script>*@
<script src="~/Scripts/js/smoothscroll.js"></script>
<script src="~/Scripts/js/isotope.js"></script>
<script src="~/Scripts/js/imagesloaded.min.js"></script>
<script src="~/Scripts/js/nivo-lightbox.min.js"></script>
<script src="~/Scripts/js/jquery.backstretch.min.js"></script>
<script src="~/Scripts/js/wow.min.js"></script>
<script src="~/Scripts/js/custom.js"></script>
<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/js/dataTables.responsive.min.js"></script>
<script src="~/Scripts/js/responsive.bootstrap4.min.js"></script>
<script src="~/Scripts/js/dataTables.buttons.min.js"></script>
<script src="~/Scripts/js/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/js/jszip.min.js"></script>
<script src="~/Scripts/js/pdfmake.min.js"></script>
<script src="~/Scripts/js/vfs_fonts.js"></script>
<script src="~/Scripts/js/buttons.html5.min.js"></script>
<script src="~/Scripts/js/buttons.print.min.js"></script>
<script src="~/Scripts/js/buttons.colVis.min.js"></script>
<script>
    jQuery.extend(jQuery.expr[':'], {
        focusable: function (el, index, selector) {
            return $(el).is('a, button, :input, [tabindex]');
        }
    });
    $(document).ready(function () {

        //document.getElementById('mdt').valueAsDate = new Date();

    });

    $(document).on('keypress', 'input,select', function (e) {
        if (e.which == 13) {
            debugger;
            e.preventDefault();
            // Get all focusable elements on the page
            var $canfocus = $(':focusable');
            var index = $canfocus.index(document.activeElement) + 1;
            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });

    $(document).on('keypress', '#srch', function (e) {

        if (e.which == 13) {
            debugger;
            // Enter key pressed
            document.location = $("#change1").attr('href');
        }
    });
    $(document).on('keypress', '#drdur', function (e) {

        if (e.which == 13) {
            debugger;
            // Enter key pressed
            $("#draddl").trigger('click');
        }
    });
    $(document).on('keypress', '#mdt', function (e) {

        if (e.which == 13) {
            debugger;
            // Enter key pressed
            $("#mbtn").click();
        }
    });




</script>
@using PagedList.Mvc;
@using PagedList;


<div ng-app="EpisodeApp" class="container">

    <div ng-controller="EpisodeCntrl" id="epicontrol" ng-init="initpatient()">

        <div ng-show="divPor" class="form-horizontal">

            <section class="navbar navbar-fixed-top custom-navbar" role="navigation">
                <div class="container">

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="@Url.Action("Index","Home")">HOME</a>

                            </li>
                            <li>
                                <input type="submit" ng-click="" onclick="validate();" value="Save" class="btn-primary btn-sm" />



                            </li>
                            <li>
                                <div ng-show="showerror">
                                    <span style="background-color:black">Error!</span>
                                </div>

                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a id="tp" href="#work">TOP</a></li>
                            @* <li><a href="#work" class="smoothScroll">NURSE</a></li>*@
                            @*<li><a href="#about" class="smoothScroll">ABOUT</a></li>*@
                            <li><a href="#portfolio">DOCTOR</a></li>
                            <li><a href="#team">EXAMINATION</a></li>
                            <li><a href="#pricing">INVESTIGATIONS</a></li>
                            <li><a href="#about">DIAGNOSIS</a></li>
                            <li><a href="#contact">DRUGS</a></li>
                            <li><a href="#contact1">MEDICAL DISPOSAL</a></li>
                        </ul>


                    </div>



                </div>
            </section><div class="row">
                <div class="col-ld-2">
                </div>
                <div class="col-ld-2">
                    @Session["loginuser"].ToString()
                </div>
            </div>
            <section id="work">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h3>In Ward Patients</h3>
                        </div><div class="form-group">
                            <div class="col-md-7">
                                <div class="col-md-6">
                                    <input type="text" id="srch" class="form-control" style="color:blue" ng-model="SearchString" />
                                </div>
                                <div class="col-md-2"><a id="change1" type='submit' value='Search' name='Search' class="btn-primary btn text-uppercase " href="@Url.Action("NurseView","Ward")?id={{SearchString}}">search</a></div>
                            </div>
                        </div>
                        <div class="form-horizontal" style="border:1px solid #0094ff; overflow-y:hidden">
                            @if (ViewBag.OnePageOfProducts.Count > 0)
                            {
                            <table id="asdfhg" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Service No
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Diagnosis
                                        </th>
                                        <th>
                                            Ward
                                        </th>
                                        <th>
                                            Date
                                        </th>

                                        <th>
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (IEnumerable<MMS.Models.getdocdetail>)ViewBag.OnePageOfProducts)
                                    {
                                        <tr>
                                            <td align="left">
                                                @item.relasiondet
                                            </td>
                                            <td align="left">
                                                <a href="#portfolio" ng-click="GetOPDPatientWard('@item.pdids');loadchild1('@item.sno');PatientHystoryWard('@item.pidp','@item.pdids');">@item.sno</a>
                                            </td>
                                            <td align="left">
                                                <a href="#portfolio" ng-click="GetOPDPatientWard('@item.pdids');loadchild1('@item.sno');PatientHystoryWard('@item.pidp','@item.pdids');">
                                                    @if (item.relasiont == 1)
                                                    {@item.rnkname}
                                                    @item.inililes @item.sname
                                                </a>

                                            </td>
                                            <td align="left">
                                                @item.pcomoplian
                                            </td>
                                            <td align="left">
                                                @item.WardType
                                            </td>
                                            <td align="left">
                                                @item.crdate
                                            </td>

                                            <td align="left">
                                                @if (item.pstatus.Equals("15"))
                                                {<label >Admitted</label> }
                                                else 
                                                {
                                                    <label style="color:red">Pending</label>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            }
                            else
                            {
                                //Response.Redirect("~/Home/Index/");
                                <div><center>No Results</center></div>
                            }
                           
                        </div>

                    </div>

                </div>
            </section>

            <div ng-show="showloader" id="loading">
                <img id="loading-image" src="~/Content/Images/loading.png" />
            </div>

            <section id="portfolio">
                <div class="container">

                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="section-title">

                                <h1 class="heading bold"></h1>
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="panel panel-primary  ">
                                <div class="panel-heading"> OPD Details</div>
                                <div class="panel-body">



                                    @*<mat-form-field style="width:100%;display:block;">

                                        </mat-form-field>*@

                                    @*@Html.Label("", htmlAttributes: new { @class = "control-label col-md-2"  })*@

                                    <div id="wardoop" style=" text-align start;">

                                    </div>
                                    @*<textarea ng-model="h1"  cols="100" rows="10" disabled></textarea>*@



                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------*@
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="section-title">
                                <h1 class="heading bold">Ward</h1>
                                <hr>
                            </div>
                        </div>

                        <div class="col-lg-4 ">
                            <div class="panel panel-primary">

                                <div class="panel-heading">
                                    Patient Detail
                                </div>

                                <div class="panel-body">
                                    <div class="form-group  has-success" style=" height:300px; overflow-y:auto;">
                                        <span id="errormsgspandoc" asp-validation-for="Year" style="background-color:#ff0000"></span>
                                        <div class="col-md-7">
                                            <div id="svcpr">
                                                <span class=" test" style="font-weight:bold"> {{ patienthst[0].Relationship=='SELF' ? patienthst[0].RNK_NAME : patienthst[0].Relationship }}</span> {{ patienthst[0].Relationship!='Child' ? patienthst[0].Initials : ''}}   {{patienthst[0].Surname}}
                                                </br>   Age: {{ age<'100' ? age : N/A }}

                                            </div>
                                            </br> MES:<div ng-if="patienthst[0].Relationship=='SELF'">
                                                <div ng-if="patienthst[0].Category=='A4G4(P)'"> <span style="background-color:#ff0000">{{patienthst[0].Category}} </span></div>
                                                <div ng-if="patienthst[0].Category=='A4G4(T)'||patienthst[0].Category=='A4G3(P)'||patienthst[0].Category=='A4G3(T)'"> <span style="background-color:#ff0000">{{patienthst[0].Category}} </span></div>
                                                <div ng-if="!(patienthst[0].Category=='A4G4(T)'||patienthst[0].Category=='A4G3(P)'||patienthst[0].Category=='A4G3(T)')"> {{patienthst[0].Category}} </div>
                                            </div>
                                            </br> Blood Group:       {{patienthst[0].BloodType}}
                                            <div ng-show="medbrd[0].CategoryName!=null">
                                                </br>Medical Board Catagory: {{medbrd[0].CategoryName}}
                                                </br>Next Medical Board Date: {{medbrd[0].DateOfNextMedical|limitTo:-15 |limitTo:13 | date:'dd/MM/yyyy' }}
                                            </div>
                                            <div ng-show="acrw[0].MES!=null">
                                                </br>Aircrew Medical MES: {{acrw[0].MES}}
                                                </br>WEF: {{acrw[0].WEF|limitTo:-15 |limitTo:13 | date:'dd/MM/yyyy' }}
                                                </br>Next Date: {{acrw[0].NextDate|limitTo:-15 |limitTo:13 | date:'dd/MM/yyyy' }}
                                            </div>

                                            <div ng-show="patienthst[0].mauth==4">
                                                </br><span style="color:#ff0000">Medical Board Pending</span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="panel-group ">
                                                <div class="panel panel-default " style="width:120px;">

                                                    <div class="panel-body">
                                                        <img data-ng-src="{{primage1}}" style="width:100px;" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div id="collapse" class="panel-collapse ">*@
                                        <table class="table table-striped">

                                            <tr ng-repeat="uitem in famlist" class="item">
                                                <td>
                                                    <a href="#contact2" ng-click="PatientHystory(uitem.PID);">


                                                        {{ uitem.Relationship=='SELF' ? uitem.RNK_NAME : uitem.Relationship }} {{ uitem.Relationship=='SELF' ? uitem.Initials : ''}} {{uitem.Surname}}
                                                    </a>
                                                </td>


                                            </tr>
                                        </table>
                                        @*<table class="table table-striped">

                                            <tbody>

                                                <tr ng-repeat="r1 in patienthsthyp">*@
                                        @*<td>
                                                <button ng-if="r1.expanded" ng-click="r1.expanded = false">-</button>
                                                <button ng-if="!r1.expanded" ng-click="r1.expanded = true">+</button>
                                            </td>*@
                                        @*<td>Allergies- </td>*@
                                        @*<td>{{r1.HypersenceMainCategory}}</td>

                                            <td>{{r1.HypersenseDetail}}</td>
                                                                                            </tr>*@
                                        @*<tr ng-if="r1.expanded" ng-repeat-end="">
                                                <td colspan="3">{{r1.HypersenseDetail}}</td>
                                            </tr>*@

                                        @*</tbody>
                                            </table>*@

                                        @* </div> *@
                                    </div>
                                    <div class="form-group has-success">
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 ">
                            <div class="panel panel-primary">

                                <div class="panel-heading">
                                    Vitals
                                </div>

                                <div class="panel-body">
                                    <div class="form-group  has-success">

                                        <table class="table table-striped">

                                            <tbody>

                                                <tr ng-repeat-start="r1 in patientvit">
                                                    <td>
                                                        <button ng-if="r1.expanded" ng-click="r1.expanded = false">-</button>
                                                        <button ng-if="!r1.expanded" ng-click="r1.expanded = true">+</button>
                                                    </td>

                                                    <td>{{r1.VitalType}}</td>
                                                    <td>{{r1.VitalValues}}</td>
                                                    <td>{{r1.ReadingUnit}}</td>

                                                </tr>
                                                <tr ng-if="r1.expanded" ng-repeat-end="">
                                                    <td colspan="3">{{r1.Reading_Time |limitTo:-15 |limitTo:13 | date:'short'}}</td>
                                                </tr>

                                            </tbody>
                                        </table>



                                    </div>
                                </div>

                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    History of Presenting Complain
                                </div>

                                <div class="panel-body">
                                    <div class="form-group has-success">
                                        <textarea ng-model="History_PresentComplain" cols="50" rows="5" disabled></textarea>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 ">
                            <div class="panel panel-primary">
                                <div class="panel-heading"> Other Details</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <table>
                                                    <tr>
                                                        <td>@Html.Label("BHT No", htmlAttributes: new { @class = "control-label col-md-3" })</td>
                                                        <td><input value="" type="text" ng-model="BHTNo" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>@Html.Label("Ward", htmlAttributes: new { @class = "control-label col-md-3" })</td>
                                                        @*<td><input value="" type="text" ng-model="wardNo" /></td>*@
                                                        <td>
                                                            <select id="wardNo" ng-model="wardNo" ng-options="g as g.Ward_Type for g in wardTypes">
                                                                <option value="">-- Select --</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>@Html.Label("Bed No", htmlAttributes: new { @class = "control-label col-md-3" })</td>
                                                        <td><input value="" type="text" ng-model="bedNo" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>@Html.Label("Remarks", htmlAttributes: new { @class = "control-label col-md-3" })</td>
                                                        <td><input value="" type="text" ng-model="remarks" /></td>
                                                    </tr>
                                                </table>



                                                <div class="col-md-10">

                                                </div>

                                                <div class="col-md-10">

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">

                                <div class="panel-heading">
                                    Drug History
                                </div>
                                <div class="panel-body">

                                    <div class="form-group has-success">
                                        @*<input type="text" placeholder="Type Here for Suggestion" ng-model="dmedkey1" uib-typeahead="g as g.itemdescription for g in DName | filter: $viewValue| limitTo:20" typeahead-on-select="dmaddItem(dmedkey1.itemdescription)">*@
                                        <textarea ng-model="drughyst" cols="50" rows="5" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <section id="team">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="section-title">

                                <h1 class="heading bold">Examination</h1>
                                <hr>
                            </div>
                        </div>


                        @*General Examination*@
                        <div class="col-lg-4 ">

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    General Examination <input type="checkbox" ng-model="ge" />
                                </div>
                                <div class="panel-body" ng-show="ge">
                                    Vitals
                                    <div class="form-group">
                                        @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <select id="VTID" ng-model="VTID" ng-options="c as c.VitalType for c in VitalTypes">
                                                <option value="">-- Select Vital Type --</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Value", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <input value="" type="text" ng-model="vvalue" />
                                            <input type="button" ng-click="addItem(VTID.VTID,vvalue)" value="Add" />
                                        </div>
                                    </div>
                                    <table class="table table-striped">

                                        <tr ng-repeat="item in items" class="item">
                                            <td><b>{{item.name}}</b> </td>
                                            <td><b>:</b>{{item.amount}} </td>
                                            <td><button ng-click="removeItem($index)">Remove</button></td>
                                        </tr>
                                    </table>





                                    <textarea ng-model="genex" cols="50" rows="5"></textarea>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Drugs Management
                            </div>
                            <div class="panel-body">

                                <table class="table table-striped " name="sd">
                                    <thead>
                                        <tr>
                                            <th width="20%" align="left">Date </th>
                                            <th width="40%" align="left">Drug Name </th>
                                            <th width="20%" align="left">Dose </th>
                                            <th width="20%" align="left">Route </th>
                                            <th width="20%" align="left">Method </th>
                                            <th width="20%" align="left">Duration </th>
                                            @*<th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="field in druglist">
                                        <tr>
                                            <td width="40%" align="left">{{ field.date }}</td>
                                            <td width="40%" align="left">{{ field.itemdescription }}</td>
                                            <td width="20%" align="left">{{ field.Dose }}</td>
                                            <td width="20%" align="left"> {{field.RouteDetail}}</td>
                                            <td width="20%" align="left">{{ field.MethodDetail }}</td>

                                            <td width="20%" align="left">{{ field.Duration }}</td>

                                            @*<td width="20%" align="left">
                                                    <a href="" ng-click="deldrug(field.Ps_Index);">

                                                        Delete
                                                    </a>
                                                </td>*@
                                        </tr>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact1">
                <div class="container">
                    <div class="row">
                        <div class="panel panel-primary  ">
                            <div class="panel-heading">
                                Management Plan
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped" name="sd">

                                    <thead>
                                        <tr>

                                            <th width="20%" align="left">Date</th>
                                            <th width="20%" align="left">Note</th>
                                            <th width="20%" align="left">Doctor</th>
                                            <th width="20%" align="left">Remarks</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="f1 in planlist">
                                        <tr>

                                            <td width="40%" align="left"> {{f1.date}}</td>
                                            <td width="20%" align="left"> {{f1.description}}</td>
                                            <td width="20%" align="left"> {{f1.investigated}}</td>
                                            <td width="20%" align="left"> {{f1.nurseRemarks}}</td>
                                            <td width="20%" align="left"><input id="nurseRemarks" type="text" ng-model="nurseRemarks" ng-blur="adddrugItemWard(f1.PlanId,nurseRemarks)" /></td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section id="contact2">

                @*<div id="mybook" style="text-align: left; ">

                    </div>*@

            </section>
            <section id="contact3">
                <div class="container">
                    <div class="row">




                        <div class="col-lg-12   wow fadeInUp" data-wow-delay="0.1s">

                            @*<h3>Patient Details</h3>*@


                            <div class="form-group " align="center">
                                @*<table class="table table-striped  ">*@

                                @*<thead>
                                        <tr>
                                            <th width="40%" align="left">Test Name</th>
                                            <th width="20%" align="left">Result</th>
                                            <th width="20%" align="left">Result Status</th>
                                            <th width="20%" align="left">Reference Range Unit</th>
                                            <th width="20%" align="left">Reference Range</th>

                                        </tr>
                                    </thead>*@
                                @*<tbody ng-repeat="field in viewlab">
                                        {{viewlab[0].CategoryName}}
                                        <br />Date:{{viewlab[0].RequestedTime | date:'dd/MM/yyyy HH:mm'  }}
                                        <tr>
                                            <td width="40%" align="left"> {{field.SubCategoryName}}</td>
                                            <td width="20%" align="left"> {{field.testResult}}</td>
                                            <td width="20%" align="left"> {{field.teststatus}}</td>
                                            <td width="20%" align="left">{{ field.ReferenceRangeUnit }}</td>
                                            <td width="20%" align="left"> {{field.ReferenceRange}}</td>
                                        </tr>
                                    </tbody>*@



                                @*
                                    <span ng-show="myForm.{{field.name}}.$dirty && myForm.{{field.name}}.$error.required">Required!</span>*@
                                @*
                                    <span ng-show="myForm.{{field.name}}.$dirty && myForm.{{field.name}}.$error.email">Not email!</span>*@
                                @*</table>*@
                                @*<button ng-disabled="myForm.$invalid">Submit</button>*@

                            </div>

                            @*<div class="form-group">
                                    @Html.Label("ServiceNo", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input type="text" ng-model="ServiceNo" ng-required="true" ng-blur="GetPatient(ServiceNo,Relationship.RTypeID)" />
                                    </div>
                                </div>
                                <div ng-show="GetPatientDet.length > 1">
                                    <div class="form-group">
                                        @Html.Label("Child", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <select id="pdnew" ng-model="pidnew" ng-change="loadchild(pidnew)" ng-options="d as d.Initials for d in PatientDetdr">
                                            <option value="">-- Select Child --</option>
                                        </select>
                                    </div>
                                </div>*@


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
<script>
    $(function () {
        //single book
        debugger;
        $(function () {
            $("#asdfhg").DataTable({
                "ordering": false,
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#asdfhg_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        //$('#mybook').booklet({
        //    width: '100%',
        //    height: 800,
        //   // closed: true,
        //    autoCenter: true,
        //    arrows: true,
        //    direction: "RTL"

        //});

    });
    function vwlb(id, id1) {
        debugger;
        angular.element(document.getElementById('epicontrol')).scope().viewlabtest(id, id1);
    }
    function validate1() {
        debugger;
        $('#mybook').booklet({
            width: '100%',
            height: '100%',
            //closed: true,
            autoCenter: true,
            arrows: true,
            direction: "RTL"

        });
    }
    function validate() {
        debugger;
        var selectv = $("#dgcat").find(":selected").text();
        //if (angular.element(document.getElementById('epicontrol')).scope().bitems.length < 1) {
        //    alert("Please Select Daignosis catagory");
        //    //$("#errormsgspan").text("Please Select Daignosis catagory");
        //    return false;
        //} else {
        //    //$("#errormsgspan").text(" ");
        //    angular.element(document.getElementById('epicontrol')).scope().SavepatientWard();
        //    return true;
        //}
        angular.element(document.getElementById('epicontrol')).scope().SavepatientWardNurse();

    }
    $("form").submit(function () {

    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


