@model Patient

@{
    ViewBag.Title = "MMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Service No
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceNo)
        </dd>
        <dt>
            Rank
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rank1.RNK_NAME)
        </dd>
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            Relationship
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelationshipType1.Relationship)
        </dd><dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt>
            Blood Group
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodGroup.BloodType)
        </dd>
        <dt>
            Medical Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MBP_Category.Category)
        </dd>
         
        <dt>
            Sex
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex_Type.SxDetail)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status1.StatusDec)
        </dd>

       

      

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

   

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
