@model MMS.DrugStockTransection

@{
    ViewBag.Title = "MMS";
}

<h2>Details</h2>

<div>
    <h4>DrugStockTransection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransectionQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransectionQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
