@model IEnumerable<MMS.DrugStockTransection>

@{
    ViewBag.Title = "MMS";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransectionQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StockID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransectionQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransectionID })
        </td>
    </tr>
}

</table>
