@model MMS.Ward_display

@{
    ViewBag.Title = "MMS";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ward_display</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pwardno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pwardno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pbedno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pbedno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PwardD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PwardD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pdiagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pdiagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Padmitdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Padmitdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
