@model Ward_Master

@{
    ViewBag.Title = "MMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ward_Master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.STN_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.STN_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPatients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPatients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bed_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bed_Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ward_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ward_Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ward_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
