@model Lab_sms

@{
    ViewBag.Title = "Lab SMS Report";
}

@using PagedList.Mvc;
@using PagedList;

@section scripts
{
    <script src="~/Scripts/Episode/v6/Module.js"></script>
    <script src="~/Scripts/Episode/v6/Service.js"></script>
    <script src="~/Scripts/Episode/v6/Controller.js"></script>
}

<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/metisMenu.min.js"></script>
<script src="~/Scripts/js/sb-admin-2.js"></script>
<script src="~/Scripts/js/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/js/dataTables.responsive.js"></script>
<script src="~/Scripts/Angular/angular.js"></script>
<script src="~/Scripts/Angular/angular-sanitize.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-1.3.3.min.js"></script>

<link rel="stylesheet" href="~/Scripts/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Scripts/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Scripts/css/animate.min.css">
<link rel="stylesheet" href="~/Scripts/css/et-line-font.css">
<link rel="stylesheet" href="~/Scripts/css/nivo-lightbox.css">
@*<link rel="stylesheet" href="~/Scripts/css/nivo_themes/default/default.css">*@
<link rel="stylesheet" href="~/Scripts/css/style.css">
@*<script src="~/Scripts/js/bootstrap.min.js"></script>*@
<script src="~/Scripts/js/smoothscroll.js"></script>
<script src="~/Scripts/js/isotope.js"></script>
<script src="~/Scripts/js/imagesloaded.min.js"></script>
<script src="~/Scripts/js/nivo-lightbox.min.js"></script>
<script src="~/Scripts/js/jquery.backstretch.min.js"></script>
<script src="~/Scripts/js/wow.min.js"></script>
<script src="~/Scripts/js/custom.js"></script>

<div ng-app="EpisodeApp" class="container">

    <div ng-controller="EpisodeCntrl" ng-init="initsick();initpatient();">

        <div ng-show="divPor" class="form-horizontal">

            <section class="navbar navbar-fixed-top custom-navbar" role="navigation">
                <div class="container">

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="@Url.Action("Index","Home")">HOME</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @*<li><a href="#about">HOME</a></li>
                                <li><a href="#work">Lab Report</a></li>*@
                            @*<li><a href="#about" class="smoothScroll">ABOUT</a></li>*@

                            @*<li><a href="#portfolio" class="smoothScroll">PORTFOLIO</a></li>*@

                        </ul>

                    </div>



                </div>
            </section>





            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <hr />
                <div class="form-horizontal">

                    <div class="col-md-5 col-md-5 col-sm-12 ">



                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.Label("Relationship", htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-8">
                                <select id="RTypeID" ng-model="Relationship" ng-options="c as c.Relationship for c in Relationships" class="form-control">
                                    <option value="">-- Select Relationship Type --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.Label("ServiceNo", htmlAttributes: new { @class = "control-label col-md-3" })
                            </div>
                            <div class="col-md-8">

                                <input type="text" ng-model="ServiceNo" ng-required="true" ng-blur="GetPatient(ServiceNo,Relationship.RTypeID)" class="form-control" style="width:100% !important" />

                            </div>
                        </div>
                        <div ng-show="GetPatientDet.length > 1">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.Label("Child", htmlAttributes: new { @class = "control-label col-md-3" })
                                </div>
                                <div class="col-md-8">
                                    <select id="pdnew" ng-model="pidnew" ng-change="" ng-options="d as d.Initials for d in PatientDetdr" class="form-control">
                                        <option value="">-- Select Child --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                @Html.Label("RANK", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    {{ServicePersonnels[0].RNK_NAME}}
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })

                            </div>                                <div class="col-md-8">
                                {{GetPatientDet[0].Initials}}    {{GetPatientDet[0].Surname}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.Label("Sex", htmlAttributes: new { @class = "control-label col-md-3" })
                            </div>
                            <div class="col-md-8">
                                {{GetPatientDet[0].SxDetail}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.Label("MedCatID", htmlAttributes: new { @class = "control-label col-md-3" })
                            </div>
                            <div class="col-md-8">
                                {{GetPatientDet[0].Category}}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 col-md-2 col-sm-12 ">
                        <div class="form-group">


                            <div class="panel-group ">
                                <div class="panel panel-default ">

                                    <div class="panel-body">
                                        <img data-ng-src="{{primage}}" class="img-responsive" />




                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-5 col-sm-12 ">

                        <div class="panel panel-primary">
                            <div class="panel-heading">Investigations</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-7">
                                            <input type="text" ng-model="slName1" uib-typeahead="g as g.CatName for g in slName | filter:$viewValue | limitTo:8" class="form-control">
                                        </div>
                                        <div class="col-md-1">
                                            <a class="clear" ng-click="slName1=null">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>

                                        </div>
                                        <div class="col-md-3">
                                            <input type="button" ng-click="SladdItem(slName1.Catid,slName1.CatName,smsval)" value="Add" />
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <input type="text" ng-model="smsval" ng-show="slName1.Catid==21||slName1.Catid==22||slName1.Catid==23||slName1.Catid==24||slName1.Catid==25" class="form-control" />

                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <table class="table table-striped">

                                                <tr ng-mouseover="runsmsfun()" ng-repeat="Slitem in Slitems" class="item">
                                                    <td width="100%"><b>{{Slitem.Slabcat}}{{Slitem.Ssmsval}}</b> </td>



                                                    <td></td>







                                                    <td><button ng-click="SlremoveItem($index)">Remove</button></td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <br>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.Label("Phone Number", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="pntext" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.Label("Message", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                <div hidden="hidden" id="smsdiv">
                                    <div style="align-content:flex-start" ng-repeat="Slitem in Slitems">{{Slitem.Slabcat+Slitem.Ssmsval}},</div>


                                </div>
                                <textarea ng-blur="runsmsfun()" cols="50" rows="5" ng-model="smstext" class="form-control"></textarea>
                            </div>
                            @*<div class="col-md-10">
                                    @Html.TextAreaFor(model => model.massegetext, 5, 35, new { maxLength = 86, @class = "form-control input-md" })
                                    @Html.ValidationMessageFor(model => model.massegetext, "", new { @class = "text-danger" })
                                </div>*@
                        </div>





                        <div class="clearfix"></div>



                        <input type="button" ng-click="Savesms1();" value="Save" class="btn btn-primary pull-right" />
                    </div>

                </div>
            }  <hr />
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-horizontal" style="border:1px solid #0094ff; overflow-y:hidden">

                    @if (ViewBag.OnePageOfProducts.Count > 0)
                    {
                        <table id="asdfhg" class="table table-striped">
                            <tr>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Massege
                                </th>
                                <th>
                                    Created Time
                                </th>



                            </tr>

                            @foreach (var item in ViewBag.OnePageOfProducts)
                            {
                                <tr>
                                    <td align="left">
                                        @item.phoneno
                                    </td>
                                    <td align="left">
                                        @item.massegetext

                                    </td>
                                    <td align="left">
                                        @item.createdtime
                                    </td>



                                </tr>
                            }

                        </table>
                    }
                    else
                    {
                        //Response.Redirect("~/Home/Index/");
                        <div><center>No Results</center></div>
                    }
                    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Create", new { page }))
                </div>

                <div>

                </div>
            </div>
        </div>
        <div>

        </div>

